<section class="contact-section">
    <h2 class="contact-heading">Contact Us</h2>
    <div class="contact-image">
        <img src="https://images.shiksha.com/mediadata/images/articles/1693247327php9Ixvyk.jpeg" alt="Contact Us" />
    </div>
    <div class="contact-info">
        <div class="contact-item">
            <h4>Address</h4>
            <p class="contact-value" id="address-value">23main street,Near Forum Mall, Banglore,Karnataka, India</p>

        </div>
        <div class="contact-item">
            <h4>Call Us</h4>
            <p class="contact-value" id="call-value">+91 7352258967</p>
        </div>
        <div class="contact-item">
            <h4>Email</h4>
            <p class="contact-value" id="email-value">aiifbanglorehelpdesk.com</p>
        </div>
    </div>
</section>
