<section class="course-section">
    <h2>Courses & Certification</h2>
    <h5>AIIF provides Degree and Diploma Certifications from Government Universities which are UGC Approved, NAAC Accredited with A Grade and having Top Positions in National Ranking.</h5>

    <div class=" container">
        <div class="col-md-3"*ngFor="let data of courses">
            <div class="course-card" >
                <h3>{{data.courseName}}</h3>
                <p>{{data.desaiif}}</p>
                <p>Duration:{{data.Duration}} </p>
                <p>Eligibility:{{data.Eligibility}}</p>
                <div class="button-container">
                    <a href="#" class="enquire-btn" data-bs-toggle="modal"  data-bs-target="#enquireform">Enquire Now</a>
                    <a href="#" class="join-btn"  data-bs-toggle="modal" data-bs-target="#joininfo">Join Now</a>
                </div>
            </div>               
        </div>  
    </div>
   

    </section>


    <!-- Enquire Modal -->

<div class="modal fade" id="enquireform" tabindex="-1" aria-labelledby="enquireLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Enquire Now</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                  <label for="mobno" class="form-label">Mobile Number</label>
                  <input type="mobno" class="form-control" id="mobno" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" required>
                  </div>
                 
                  <select class="input1" id="course" name="course">
                    <option value="Course Interested In">Course Interested In</option>
                    <option value="BSc Interior Design">BSc Interior Design </option>
                    <option value="B.Des in Interior Design">B.Des in Interior Design</option>
                    <option value="PG Diploma in Interior Design &amp; Space Management">PG Diploma in Interior Design &amp; Space Management</option>
                    <option value="Diploma in Interior Design &amp; Space Management">Diploma in Interior Design &amp; Space Management</option>
                    <option value="MDes Furniture &amp; Interior Design">MDes Furniture &amp; Interior Design</option>
                    <option value="BSc Costume Design &amp; Fashion">BSc Costume Design &amp; Fashion</option>
                    <option value="Advanced Diploma in Fashion Design &amp; Boutique Management">Advanced Diploma in Fashion Design &amp; Boutique Management</option>
                 
                  </select>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="enquireconfirm()">Submit</button>
        </div>
      </div>
    </div>
  </div>


  <!-- JoinModal -->
  <div class="modal fade" id="joininfo" tabindex="-1" aria-labelledby="enquireLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Join Now</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
      <h5>Batch Information</h5>
                <p><strong>Online Batches:</strong> Currently, we are offering online batches for all courses. Classes will be conducted via Zoom every Saturday from 10 AM to 12 PM.</p>
                <p><strong>Offline Batches:</strong> Offline batches will be available from next month at our campus. Classes will be held at Monday to Friday from 9 AM to 4PM.</p>
                <p><strong>Next Batch Start Date:</strong> The next batch will commence on <strong>November 25, 2024</strong>. Registration is open until November 10, 2024.</p>
                <p>If you have any questions regarding the courses or registration process, feel free to contact us!</p>
           
                
                 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Submit</button> -->
        </div>
      </div>
    </div>
  </div>
