<section class="course-section">
    <h2>Courses & Certification</h2>
    <h5>AIIF provides Degree and Diploma Certifications from Government Universities which are UGC Approved, NAAC Accredited with A Grade and having Top Positions in National Ranking.</h5>

    <div class=" container">
        <div class="col-md-3"*ngFor="let data of courses">
            <div class="course-card" >
                <h3>{{data.courseName}}</h3>
                <p>{{data.desaiif}}</p>
                <p>Duration:{{data.Duration}} </p>
                <p>Eligibility:{{data.Eligibility}}</p>
                <div class="button-container">
                    <a href="#" class="enquire-btn">Enquire Now</a>
                    <a href="#" class="join-btn" >Join Now</a>
                </div>
            </div>               
        </div>  
    </div>
   

    </section>

    